body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  min-height: 100vh;
}

nav {
  background-color: #21222a;
  display: flex;
  align-items: center;
  padding: 30px 25px;
  height: 90px;
}

nav > h3,
nav > h4 {
  margin: 0;
}

nav > h3 {
  margin-right: auto;
}

.logo {
  height: 30px;
  margin-right: 7px;
}

.logo-title {
  color: #61dafb;
  font-weight: 700;
  font-size: 22.2535px;
}

.project-title {
  color: #deebf8;
  font-weight: 600;
  font-size: 16px;
}
